@font-face {
    font-family: MontSerra;
    src: url(static/Montserrat-Medium.ttf);
}

body{
    margin: 0 ;
    font-family: MontSerra;
}

button {
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 3em;
    padding: 0 1em 0 1em;
    margin-top: 2em;
    border-radius: 32px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(61, 60, 60, 0.712);
    border: 1px solid rgba(61, 60, 60, 0.712);;
}

.link {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.link:visited,
.link:hover {
    color: rgba(107, 110, 110, 0.979);
}

/* Welcome page */
#welcome {
    display: flex;
}

#welcome-aperture {
    width: 2em;
    height: 2em;
    position: fixed;
    top: 3vh;
    left: 2vw;
}

#welcome-text {
    background-image:url('Vector1.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6vw;
    flex-direction: column;
    height: 100vh;
    width: 50vw;

    #welcome-date {
        margin-bottom: -2em;
        font-size: 0.75em;
    }

    h1 {
        font-size: 3em;
        font-weight: 700;
        width: 40vw;
        line-height: 2em;
        margin-block-end: 0;
        margin-top: 0;
    }

    p {
        width: 40vw;
        line-height: 2em;
    }

    #welcome-link {
        position: absolute;
        top: 95vh;
        left: 35vw;
    }
}

#welcome-link:visited {
    color: black;
}


/* Image */
#man-image {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}


/* Articles sections */
#main-page {
    height: 100vh;
}

/* Navbar */
nav {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0 ;

    #aperture {
        display: flex;
        margin-left: 2em;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    #aperture-navbar {
        width: 2em;
        height: 2em;
        margin-right: 2em;
    }

    #right-element {
        display: flex;
        align-items: center;
    }
    
    .navbar-right-element:hover {
        color: rgba(107, 110, 110, 0.979);
    }

    img {
        width: 1em;
        height: 1em;
        margin-right: 2em ;
        cursor: pointer;
    }

    p {
        margin-right: 2em;
        cursor: pointer;
    }
}

/* Section principale */
section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 6fr 1fr;

    #main-article {
        width: 35vw;
        grid-column-start: 2;
        grid-row-start: 1;
        padding-top: 15vh;
    }

    article {
        padding-bottom: 3vh;
    }

    #about-me {
        width: 25vw;
        grid-column-start: 3;
        grid-row-start: 1;
        padding-top: 15vh;
    }

    #main-link {
        grid-column-start: 3;
        grid-row-start: 2;
        padding-top: 5vh;
        padding-left: 5vw;
    }
}

